h1 {
text-align: center;
font-weight: bold;
font-family: verdana;
}

p{
text-align: center;
font-family: verdana;
}

img {
max-width: 200px;
max-height: 100px;
margin-right: auto;
margin-left: auto;
border-radius:30px:
}

body {
  background-color: white;
}

ul {
  text-align: center;
  font-family: verdana;
}

ol {
  font-family: verdana;
}

.container {
  text-align: center;
}
.jumbotron {
  background-color: #0099ff;
}


.runner {
  color: #0099ff;
}

.jumper{
  color: white;
}
